<div class='post-form'>
  <h2 class='post-form-title'>Create new post</h2>

  <%= form_with model: @post, url: user_posts_path, scope: :post do |form| %>
  <div class='post-form-title-field'>
    <%= form.text_field :title, placeholder: 'Enter post title', required: true %>
  </div>

  <div class='post-form-text-field'>
    <%= form.text_area :text, placeholder: 'Enter post content', rows: 20, required: true %>
  </div>

  <%= form.submit 'Submit post', class: 'post-submit-btn'  %>
  <% end %>
</div>